.info {
  background-color: #f1f5f9;
  color: #0f172a;
  padding: 10px;
  border-left: 4px solid #3b82f6;
  margin: 10px 0;
}

.warning {
  background-color: #fef3c7;
  color: #92400e;
  padding: 10px;
  border-left: 4px solid #f97316;
  margin: 10px 0;
}
